<header class="p-3 bg-dark text-white">
  <div class="container">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'About Us', class: 'nav-link px-2 text-white' %></li>
      </ul>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Our Specialists', class: 'nav-link px-2 text-white' %></li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Log in as a Patient</a>
            <a class="dropdown-item" href="#">Log In as a Doctor</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
    </nav>
  </div>
</header>